<h1>Обратная связь</h1>

<p>
  Пользователь: <b><%= @feed_back.name %></b>
</p>

<p>
  Электронная почта: <b><%= @feed_back.email %></b>
</p>

<p>
  Тема общения: <b><%= @feed_back.header %></b>
</p>

<p>
  Сообщение: <%= @feed_back.message %>
</p>
