<h1>Feed Back</h1>

<p>
  User: <b><%= @feed_back.name %></b>
</p>

<p>
  Email: <b><%= @feed_back.email %></b>
</p>

<p>
  Theme: <b><%= @feed_back.header %></b>
</p>

<p>
  Message: <%= @feed_back.message %>
</p>
