<article>

  <h1>----------</h1>

  <footer>
    <p>Автор: Platonov Oleg</p>
    <p>Проект: <a href="https://github.com/pythoneyron/test_guru" target="_blank">Test Guru</a></p>
    <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
    <p>© <%= Time.zone.now.year %> Test Guru</p>
  </footer>
</article>
