<h1>Список тестов</h1>
<%= link_to "Создать тест", new_admin_test_path %>

<table>
  <tr>
    <th>Название</th>
    <th>Категория</th>
    <th>Автор</th>
    <th>Уровень сложности</th>
    <th>Количество вопросов</th>
    <th colspan="3">Функции</th>
  </tr>
  <%= render @tests %>
</table>

<%= link_to "Назад", :root %>
