<h1>Список тестов</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Категория</th>
    <th>Автор</th>
    <th>Уровень сложности</th>
    <th>Количество вопросов</th>
    <th>Тестирование</th>
  </tr>
  <%= render @tests %>
</table>

<%= link_to "Назад", :root %>
